<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add icon link -->
    <link rel="icon" href="https://static.thenounproject.com/png/49638-200.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&family=Josefin+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/success.css">
    <title>Success✔</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="/images/clg-logo.jpeg" alt="logo">
        </div>
        <div class="title">
            <h2>IOT & ROBOTICS</h2>
            <p>Workshop 2021</p>
        </div>

        <!-- Form -->
        <div class="form">
            <h2>Registration Done <i class="fa fa-check" aria-hidden="true"></i></h2>
            <p id="whatsicon"><i class="fa fa-whatsapp" aria-hidden="true"></i></p>
            <div class="btn">
                <a href="https://chat.whatsapp.com/JVvoZ99dRzR77YB4iBsqKx"><button type="submit" id="loader">Join <i
                            class="fa fa-users" aria-hidden="true"></i>
                        <div class="loading-1 loading"></div>
                    </button></a>
                <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
            </div>

            <div class="btn">
                <a href="/"><button type="submit" id="loader">Back ◀
                    </button></a>
                <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
            </div>


        </div>
    </div>

    <!-- Credits -->
    <div class="credits">
        <a href="https://aditya-pro.herokuapp.com/"><h2>Made with ♥ By Aditya Chaudhary</h2></a>
    </div>
</body>
<script src="/js/buttonLoad.js"></script>

</html>